.habit-display {
  background: var(--accent-color);
  border-radius: 30px;
  padding: 10px;
}
.habit-display-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
  padding-bottom: 15px;
}

.habit-display-tags::before {
    content: "#";
}
.habit-display-tags {
  padding: 5px 5px 5px 5px;
  margin: 5px;
  border: 1px solid;
  border-radius: 30px;

}

section.habit-display a {
  padding-left: 5px;
  text-decoration: none;
  color: var(--primary-color);
}