.habit-thumbnail {
  border: solid 1px var(--g5-color);
  background: var(--g3-color);
  border-radius: 15px;
  padding: 10px;
  transition: background-color 0.5s;
  transition: box-shadow 0.5s;
}

.habit-thumbnail:hover {
    box-shadow: 0px 5px 5px var(--g4-color);
}

.thumbnail-section {
  margin: 15px;
}

.details-button {
  border: solid 1px var(--g5-color);
  border-radius: 10px;
  padding: 5px;
  margin: 5px;

  text-decoration: none;
  color: var(--g5-color);
  
  background-color: var(--g2-color);

  transition: background-color 0.5s;
  transition: box-shadow 0.5s;
}

.details-button:hover {
    background-color: var(--g1-color);
    box-shadow: 0px 5px 5px var(--g4-color);
}

.habit-tags {
  padding: 5px 5px 5px 5px;
  margin: 5px;

  border: 1px solid;
  border-radius: 10px;


  font-style: italic;

  color: var(--g3-color);
  background-color: var(--g2-color);

  transition: background-color 0.5s;
  transition: box-shadow 0.5s;
}

.habit-tags::before {
    content: "#";
}

.habit-tags:hover {
    background-color: var(--g1-color);
    box-shadow: 0px 5px 5px var(--g4-color);
}