/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
:root {
  --g5-color: #142c14;
  --g4-color: #2d5128;
  --g3-color: #537b2f;
  --g2-color: #8da750;
  --g1-color: #e4eb9c;
}

h1, h2, h3 {
  color: var(--g5-color);
  text-decoration: none;
  margin: 5px;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
  font-size: large;
}

a {
  text-decoration: underline var(--g3-color);
}

.primary {
  border: solid 1px var(--g5-color);
  border-radius: 10px;
  text-decoration: none;
  font-size: large;
  padding: 5px;
  margin: 5px;

  color: var(--g5-color);
  
  background-color: var(--g2-color);

  transition: background-color 0.5s;
  transition: box-shadow 0.5s;
}

.primary:hover {
    box-shadow: 0px 5px 5px var(--g4-color);
}

.primary:active {
    background-color: var(--g3-color);
    box-shadow: 0px 5px 5px var(--g4-color);
}

.secondary {
  border: solid 1px var(--g5-color);
  border-radius: 10px;
  text-decoration: none;
  font-size: small;
  padding: 5px;
  margin: 5px;

  color: var(--g5-color);
  
  background-color: var(--g2-color);

  transition: background-color 0.5s;
  transition: box-shadow 0.5s;
}


input {
  border: solid 1px var(--g5-color);
  padding: 5px;
  border-radius: 8px;
  margin: 5px;
}

input[type="text"] {
  width: 15rem;
  border-radius: 5px;
}

input[type="number"] {
  width: 2rem;
  border-radius: 20px;
}

input[type="range"] {
  appearance: none;
  /* width: 90%; */
  accent-color: var(--g4-color);
  background-color: color-mix(in srgb, var(--g1-color) 50%, white 50%);
  height: 15px;
  border-radius: 15px;  
  outline: none;
  opacity: 0.5;
  transition: opacity 0.5s;
}

input[type="range"]:hover {
  opacity: 1; /* Fully shown on mouse-over */

}


label {
  font-weight: bold;
  margin-right: 5px;
  font-size: small;
}

label:has(+ input:required)::after {
  content: " *";
  color: pink; /* Optional: Make the asterisk red */
}

textarea {
  width: 90%;
  /* width: fit-content; */
  height: 100px;
  border: solid 1px var(--g5-color);
  padding: 10px;
  border-radius: 8px;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}


select {
  border: solid 1px var(--g5-color);
  border-radius: 10px;
  text-decoration: none;
  padding: 5px;
}

.primary-container {
  background-color: var(--g2-color);
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
}

.secondary-container {
  background-color: var(--g1-color);
  border-radius: 15px;
  padding: 20px;
  margin:10px;
  width: 90%;
  
}


.habit-tags::before {
    content: "#";
}

.habit-tags:hover {
    box-shadow: 0px 5px 5px var(--g4-color);
}

.habit-tags:active {
    background-color: var(--g1-color);
}
