table {
    /* border-radius: 15px; */
    padding: 1px;
    table-layout: fixed;
    /* border-collapse: collapse; */
}

table, th, td {
    border: 1px solid var(--g3-color);  
    color: var(--g5-color);
    border-radius: 5px;
}

td {
    border: 1px solid var(--g1-color);
    /* border: 3px solid color-mix(in srgb, var(--g1-color) 50%, var(--g2-color) 50%); */
    border-radius: 0;

}

th {
    background-color: var(--g2-color);
    /* font-size: large; */
    /* border-radius: 5px; */
}
table tr:nth-child(odd) {
    background-color: color-mix(in srgb, var(--g1-color) 50%, var(--g2-color) 50%);
}

.calendar-title {
    height: 40px;
}
.calen-date, .calen-month {
    padding: 3px;
    font-size: small;
}

.calen-month {
    text-align: center;
}

.calen-date {
    text-align: center;
    font-weight: bold;
}

input[type="checkbox"] {
    /* position: absolute; */
    accent-color: var(--g3-color);
    height: 20px;
    width: 20px;
}

input[type="checkbox"] :hover {
    box-shadow: 0px 5px 5px var(--g4-color);
}