.results {
  /* justify-content: space-around; */
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.home-container {
  width: auto;
  border: solid 1px var(--g5-color);
  background-color: var(--g2-color);
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
}